.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.allDestinos {
  width: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.destino {
  font-size: 16px;
  border: 1px solid #e28708;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: rgb(202 138 4 / 0.8);
}
.transitContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.transitSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
}

.transitSeparator {
  width: 2px;
  height: 40px;
  background-color: rgb(15, 15, 15);
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 15px;
}
.transitPlace {
  font-size: 16px;
  color: rgb(15, 15, 15);
}

.transitPlaceArrival {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  text-align: start;
  margin-left: 9px;
  height: 15px;
  color: rgb(15, 15, 15);
}

.transitPlaceArrivalName {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(15, 15, 15);
  font-weight: bold;
}

.transitPlaceArrivalName:hover {
  cursor: pointer;
  position: absolute;
  width: 250px;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  z-index: 10;
  /* background-color: rgba(32, 32, 32, 0.9); */
  padding: 6px;
  margin-left: 8px;
}

.transitCircle {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: rgb(15, 15, 15);
}

.transitAttributions {
  font-size: 10px;
}
