.mapList {
  position: absolute;
  top: 10vh;
  bottom: 10vh;
  left: 3vw;
  width: fit-content;
  border: 2px solid black;
  z-index: 10;
  padding: 10px;
  color: white;
  background-color: #333;
  opacity: 0.8;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titleList {
  text-align: center;
}
.placeName {
  flex: 1;
  cursor: pointer;
  font-size: 12px;
  overflow: auto;
}
.info {
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 0px 5px;
}
