.containerCronograma {
  padding: 10px 20px;
  width: 455px;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.itmes {
  margin: auto 0;
  text-align: start;
}

.containerAllD {
  display: flex;
  justify-content: space-between;
  max-width: 420px;
  overflow: auto;
}
.dia {
  font-size: 12px;
  border: 2px solid #c57c15;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 7px;
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
  color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.slider {
  display: flex;
  max-height: 33px;
  object-fit: cover;
}
.photoSlider {
  height: 30px;
  width: 40px;
  margin-right: 5px;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 5px;
}
.photoSlider:hover {
  scale: 1.1;
}
.currentPhotoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
}
.currentPhoto {
  display: flex;
  justify-content: center;
  /* width: 320px; */
  height: 220px;
  object-fit: contain;
  border-radius: 15px;
}
